MONGO_DB_URL=mongodb+srv://medicalhistoryapi:medicalhistoryapi@medicalhistory.ti3mp.mongodb.net/medicalhistory?retryWrites=true&w=majority
MONGO_DB_TEST_URL=mongodb+srv://medicalhistorytest:medicalhistorytest@medicalhistorytest.i7znp.mongodb.net/medicalhistorytest?retryWrites=true&w=majority